.link {
  cursor: pointer;
}
.nav {
  position: fixed;
  top: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  width: 100vw;
  color: #ffff;
  padding: 2rem;
  z-index: 1000;
}
.scrolled {
  background-color: #212ea0;
}
a {
  text-decoration: none;
  color: #fff;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo span {
  font-weight: bold;
  font-size: 2rem;
  padding-left: 1rem;
}
.logo img {
  width: 50px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.nav-links a:hover {
  opacity: 0.7;
}
.nav-links .contact-btn {
  margin-left: 1rem;
  background: #fff;
  color: #333;
  border-radius: 6rem;
  padding: 1rem 2rem;
  border: none;
  font-size: 0.8rem;
  cursor: pointer;
}
.nav-links .contact-btn:hover {
  opacity: 0.6;
}
.hamburger {
  display: none;
}

@media (max-width: 768px) {
  .nav-links {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    bottom: 0;
    right: 0;
  }
  .hamburger {
    display: block;
    width: 40px;
  }
  .nav {
    justify-content: space-between;
    width: 100%;
  }
  .logo span {
    font-size: 1.5rem;
  }
  .link {
    background-color: blue;
    padding: 0.5rem;
  }
  .nav-links .contact-btn {
    background: blue;
    color: #ffff;
  }
  .nav-links {
    gap: 0.4rem;
  }
  .open {
    visibility: visible;
    z-index: 1000;
  }
  .bg-blue {
    background: #212ea0;
  }
}
